# files to be ignored
**/deleteme*
**/*.pyc
.ipynb_checkpoints
.env
.coverage
settings.json
config.ini
*_config.ini
**/.DS_Store
# soft links to directories
/data
/ignore
/plots
todo.txt

# directories to be ignored
# must end with / to avoid ignoring files with the same prefix
# anywhere in the directory tree
.vscode/
venv/
test_venv/
tmp/
/movies
/instacart
/dickens
/wiki
**/checkpoints/
**/logs/
node_modules/

# windsurf rules
.windsurfrules
