<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple search application built with FastAPI.">
    <title>Search App</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <section class="search-container">
            <form method="POST" action="/combined" class="search-form" id="search-form">
                <label for="query">Search Query:</label>
                <textarea id="query" name="query" placeholder="Enter your search query here...">{{ app_request.query if app_request else '' }}</textarea>
                <div class="button-group">
                    <div class="submit-button-group">
                        <button type="submit" class="btn-submit" name="action" value="search">Search!</button>
                        <button type="submit" class="btn-submit" name="action" value="rag">RAG!</button>
                    </div>
                    <div class="clear-button-group">
                        <button type="button" class="btn-clear-query" onclick="clearQuery()">Clear Query</button>
                        <button type="button" class="btn-clear" onclick="clearQueryAndReset()">Clear</button>
                    </div>
                </div>
                <div class="result-filtering">
                    <label for="k">Show:</label>
                    <input type="number" id="k" name="k" value="{{ app_request.k if app_request else 3 }}" min="1">
                    <label for="threshold">Threshold</label>
                    <input type="number" id="threshold" name="threshold" value="{{ app_request.threshold if app_request else 0.65 }}" step="0.05" min="0" max="1">
                    <label for="max">Max:</label>
                    <input type="number" id="max" name="max" value="{{ app_request.max if app_request else 3 }}" min="-1">
                    <label for="kind">Kind:</label>
                    <select id="kind" name="kind">
                        {% set kindly = app_request.kind if app_request else Kind.Segment %}
                        <option value="segment" {% if kindly == Kind.Segment %}selected{% endif %}>Segment</option>
                        <option value="article" {% if kindly == Kind.Article %}selected{% endif %}>Article</option>
                    </select>
                </div>
                <div class="expand-collapse-buttons">
                    <div>
                        <button type="button" class="btn-expand-all" onclick="expandAllArticles()">Expand All</button>
                        <button type="button" class="btn-collapse-all" onclick="collapseAllArticles()">Collapse All</button>
                    </div>
                </div>
            </form>
        </section>

        {% if app_request %}
        <div class="env-info">
            {{text_file}}, {{ max_len }}
        </div>

        <div class="query-info">
            <span id="completed-display" title="completed {{ completed.isoformat() if completed else 'N/A' }}"
                        data-completed="{{ completed.isoformat() if completed else 'N/A' }}"></span> |
            {{ (completed - received).total_seconds() | default(0.0) | round(3) }} sec |
            {{ app_response.results | length }} results |
            in: {{ ( app_response.prompt | length / 4.5) | round }} tokens,
            {{ (app_response.prompt | length / 4.5) * (15 / 1e6) | round(4) }} cents |
            out: {{ (app_response.answer | length / 4.5) | round }} tokens,
            {{ ((app_response.answer | length / 4.5) * (60 / 1e6)) | round(4) }} cents |
            Query: "{{ app_request.query }}"
        </div>
        {% endif %}

        {% if app_response and app_response.answer %}
        <section class="result-container answer-container">
            <div id="markdown-content" style="display: none;">
                {{ app_response.answer }}
            </div>
            <div id="html-output" class="html-output"></div>
        </section>
        {% else %}
        <p>No answer found.</p>
        {% endif %}

        {% if app_response %}
            <section class="result-container">
                <h3>Search Results:</h3>
                <div id="total-search-result-length">Total length:
                        {{ app_response.total_length }} chars,
                        {{ (app_response.total_length /  4.5) | round() }} tokens
                </div>
                {% for result in app_response.results %}
                <div class="article">
                    <div class="article-header">
                        {{ result.caption | clean_header }}
                        <button type="button" class="btn-toggle" onclick="toggleArticleBody(this)">Toggle</button>
                    </div>
                    <div class="article-stats">
                        Offset: {{ result.element.offset }} |
                        Length: {{ result.element.char_length }} |
                        Similarity: {{ result.similarity | round(3) }}
                    </div>
                    <div class="article-body" {% if loop.index >= 4 %}style="display: none;"{% endif %}>
                        {{ result.element.text }}
                    </div>
                </div>
                {% endfor %}
            </section>
        {% elif app_request %}
            <p>No {{ app_request.kind | capitalize }} found.</p>
        {% else %}
            <p>... waiting ...</p>
        {% endif %}

    </div> <!-- container -->
    <script src="/static/js/search.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/relativeTime.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/showdown@2.1.0/dist/showdown.min.js"></script>

    <script>
        dayjs.extend(window.dayjs_plugin_relativeTime);

        function updateElapsedTime() {
            const timeElement = document.getElementById('completed-display');
            const completedTime = dayjs(timeElement.getAttribute('data-completed'));

            // Update the content with "time from now"
            timeElement.textContent = completedTime.fromNow();
        }

        // Initial update
        updateElapsedTime();

        // Periodically update every 1 second
        setInterval(updateElapsedTime, 4000);

    </script>

<script>


        // Initialize Showdown.js
        const converter = new showdown.Converter();
        // Get Markdown content from the hidden div
        const markdownContent = document.getElementById('markdown-content');
        const htmlOutput = document.getElementById('html-output')

        // Convert Markdown to HTML
        const htmlContent = converter.makeHtml(markdownContent.textContent);
        // Insert HTML into the output div
        htmlOutput.innerHTML = htmlContent;

        // showdown puts the first paragraph inside a <pre><code>.
        // replace it with a simple <p>

        // Select the first <pre><code> inside .html-output
        const firstPreCode = document.querySelector('.html-output > pre > code');

        if (firstPreCode) {
            // Create a new <p> element
            const paragraph = document.createElement('p');

            // Set the text content of the <p> to the <code>'s text
            paragraph.textContent = firstPreCode.textContent;

            // Replace the <pre> parent of the <code> with the <p>
            firstPreCode.parentElement.replaceWith(paragraph);
        }

        markdownContent.textContent = ''
    </script>

</body>
</html>
